# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

### What value is displayed when the last expression (a) is evaluated?

When the last expression (a) is evaluated, the value **6** is displayed

### Explain your answer by indicating what happens in every executed statement.

**a** begins with a value of 0.

By invoking the function **c(a)**, which increases the input by 2, the function b() changes the global variable a.

The initial invocation of **b()** sets a to 2.

**a** is set to 4 by the second call to b().

**a** is set to 6 by the **third call to b()**

As a result, the value shown for **the final expression a is 6**

# Question 2

In [33]:
import os

def fileLength(filename):
    file_exists = False
    if filename in os.listdir():
        file_exists = True

    if file_exists:
        with open(filename, 'r') as infile:
            q2_content = infile.read()
        print(len(q2_content))
    else:
        print("File", filename, "not found.")
        
try:
    input_filename = input("Enter the filename: ")
    fileLength(input_filename)
except Exception as e:
    print("An error occurred:", e)

Enter the filename: midterm.py
123

In [34]:
try:
    input_filename = input("Enter the filename: ")
    fileLength(input_filename)
except Exception as e:
    print("An error occurred:", e)

Enter the filename: idterm.py
File idterm.py not found.

# Question 3

In [36]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [4]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
try:
    positive_num = int(input("Enter a positive integer: "))
    if positive_num > 0:
        collatz(positive_num)
    else:
        print("Please enter a positive integer.")
except ValueError:
    print("Invalid input!!")

Enter a positive integer: 10
10
5
16
8
4
2
1

# Question 5

In [7]:
def binary(n):
    if n == 0:
        print(0, end="")
    elif n == 1:
        print(1, end="")
    else:
        binary(n // 2)
        print(n % 2, end="")
try:
    a = int(input("Enter a non-negative integer: "))
    if a >= 0:
        binary(a)
        print()
    else:
        print("Please enter a non-negative integer.")
except ValueError:
    print("Invalid input!!")

Enter a non-negative integer: 9
1001

# Question 6

In [9]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent = 0
        self.inside_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2 and tag[1].isdigit():
            self.indent = int(tag[1]) - 1
            self.inside_heading = True

    def handle_endtag(self, tag):
        if tag.startswith("h") and len(tag) == 2 and tag[1].isdigit():
            self.inside_heading = False

    def handle_data(self, data):
        if self.inside_heading:
            print("  " * self.indent + data)

infile = open('w3c.html', 'r')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

# Question 7

In [14]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser


class Collector(HTMLParser):
    def __init__(self, url, depth, indent):
        HTMLParser.__init__(self)
        self.url = url
        self.depth = depth
        self.indent = indent

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        print(' ' * self.indent + absolute)
                        if self.depth > 0:
                            try:
                                q7_content = urlopen(absolute).read().decode()
                                q7_collector = Collector(absolute, self.depth - 1, self.indent + 1)
                                q7_collector.feed(q7_content)
                            except:
                                pass

def webdir(url, depth, indent):
    try:
        q7_content = urlopen(url).read().decode()
        q7_collector = Collector(url, depth, indent)
        q7_collector.feed(q7_content)
    except ValueError:
        print("Depth should be a postive integer.")
    except:
        print("Invalid URL!!")

try:
    url = input("Enter URL: ")
    depth = int(input("Enter the depth: "))
    indent = 0
    webdir(url, depth, indent)
except ValueError:
    print("Depth should be a positive integer.")
except:
    print("Invalid URL!!")

Enter URL: https://www.bloomberg.com/canada
Enter the depth: 2
https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
https://www.bloomberg.com/notices/tos
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
https://www.bloomberg.com/notices/tos
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback
 https://www.bloomberg.com/feedback
  https://www.bloomberg.com/feedback
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/notices/tos
  https://www.bloomberg.com/feedback

# Question 8

Question_8_Table

| City | Country | Season | Temperature (C) | Rainfall (mm) |
|:----|:-------|:------|:---------------|:--------------|  
|Mumbai|India|Winter|24.8|5.9|
|Mumbai|India|Spring|28.4|16.2|
|Mumbai|India|Summer|27.9|1549.4|
|Mumbai|India|Fall|27.6|346.0|
|London|United Kingdom|Winter|4.2|207.7|
|London|United Kingdom|Spring|8.3|169.6|
|London|United Kingdom|Summer|15.7|157.0|
|London|United Kingdom|Fall|10.4|218.5|
|Cairo|Egypt|Winter|13.6|16.5|
|Cairo|Egypt|Spring|20.7|6.5|
|Cairo|Egypt|Summer|27.7|0.1|
|Cairo|Egypt|Fall|22.2|4.5|

In [37]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\lenovo\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\lenovo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\lenovo\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\lenovo\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\lenovo\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.22 sqlparse-0.4.4 typing-extensions-4.8.0

In [54]:
%reload_ext sql

In [55]:
%sql sqlite://

In [59]:
%sql SELECT * FROM Record;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### a) All the temperature data

In [60]:
%sql SELECT Temperature FROM Record;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b) All the cities, but without repetition

In [61]:
%sql SELECT DISTINCT City FROM Record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### c) All the records for India

In [62]:
%sql SELECT * FROM Record WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

### d) All the Fall records

In [63]:
%sql SELECT * FROM Record WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [64]:
%sql SELECT City, Country, Season FROM Record WHERE Rainfall BETWEEN 200 And 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [65]:
%sql SELECT City, Country FROM Record WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### g) The total annual rainfall for Cairo

In [66]:
%sql SELECT Sum(Rainfall) FROM record WHERE City='Cairo';

 * sqlite://
Done.

[(27.6,)]

### h) The total rainfall for each season

In [67]:
%sql SELECT Season, Sum(Rainfall) FROM Record GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [20]:
q9_a= [word.upper() for word in words]
print(q9_a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
q9_b = [word.lower() for word in words]
print(q9_b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [22]:
q9_c = [len(word) for word in words]
print(q9_c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of listwords, where each list contains the word in uppercase and lowercase and the length of the word.)

In [23]:
q9_d = [[word.upper(), word.lower(), len(word)] for word in words]
print(q9_d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [24]:
q9_e = [word for word in words if len(word) >= 4]
print(q9_e)

['quick', 'brown', 'jumps', 'over', 'lazy']